{% extends 'base.html.twig' %}

{% block title %}Nouveau Demandeur{% endblock %}

{% block body %}
<br><br><br><br><br><br>

    <h1>Creer un nouveau CV</h1>

    {{ include('demandeur/_form.html.twig') }}

{% endblock %}
